html {
    background-color: slategray;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.styles {
    /* appearance: none; */
    width: 125px;
    height: 30px;
    margin-bottom: 15px;
    /* border-radius: 10%; */
    background-color: #1d1c25;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px; 
}

.btn-on {
    background-color: #1d1c25;
    opacity: 0.3;
}

.header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 735px;
    width: 200px;
    background-color: #1d1c25;
    outline: 1px solid #1d1c25;
    padding-top: 15px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    /* gap: 10px; */
}

.sidebar > p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px; 
    padding: 0;
    margin: 5px;
}

#rangeSlider {
    appearance: none;
    margin-top: 10px;
    margin-bottom: 25px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

#rangeSlider:hover{
    opacity: 1;
}

input[type=range]::-webkit-slider-runnable-track {
background: rgba(59,173,227,1);
background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
height: 5px;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
border: 2px solid  rgb(59,173,227);
border-radius: 30%;
height: 20px;
width: 20px;
margin: 3px;
position: relative;
bottom: 9px;
background-color: #1d1c25;
-webkit-transition: border 1000ms ease;
}

input[type=range]::-webkit-slider-thumb:active {
cursor: -webkit-grabbing;
}

.grid {
    display: grid;
    height: 750px;
    width: 750px;
    background-color: white;
    outline: 2px solid black;
    flex: none;
}

.cells {
    box-sizing:initial;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}