html {
    background-color: slategray;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

#sidebar {
    height: 750px;
    width: 200px;
    background-color: black;
    opacity: 0.5;
    border: 1px solid;
    margin-right: 10px;
}

#grid {
    display: grid;
    height: 750px;
    width: 750px;
    outline: 2px solid black;
    justify-content: stretch;
    align-items: stretch;
}

.cell {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

